force-app/main/default/flows/Populate_User_Story_Committed_Components.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>This creates the string of &quot;Type&quot; + &quot;API Name&quot; that ultimately gets printed in the &quot;Committed Components&quot; field.</description>
        <name>Build_The_Committed_Component_List</name>
        <label>Build The Committed Component List</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CommittedComponentsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ComponentListFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_User_Story_Metadata_Records</targetReference>
        </connector>
    </assignments>
    <description>This flow grabs triggers off the User Story Last Commit Date and grabs the related User Story Metadata and prints the values into the Committed Components field on the User Story record.</description>
    <environments>Default</environments>
    <formulas>
        <description>This is the formula that concatenates all the values properly to be displayed in the Committed Metadata field.</description>
        <name>ComponentListFormula</name>
        <dataType>String</dataType>
        <expression>{!Loop_Through_All_User_Story_Metadata_Records.copado__Type__c} &amp; &apos; &apos; &amp; {!Loop_Through_All_User_Story_Metadata_Records.copado__Metadata_API_Name__c} &amp; BR()</expression>
    </formulas>
    <interviewLabel>Populate User Story Committed Components {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate User Story Committed Components Field</label>
    <loops>
        <description>This moves through all related records to grab the necessary field values for each record</description>
        <name>Loop_Through_All_User_Story_Metadata_Records</name>
        <label>Loop Through All User Story Metadata Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>UserStoryMetadataCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_The_Committed_Component_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Story_Committed_Components</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This</description>
        <name>Get_Related_User_Story_Metadata_Records</name>
        <label>Get Related User Story Metadata Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_User_Story_Metadata_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>copado__User_Story_Metadata__c</object>
        <outputReference>UserStoryMetadataCollection</outputReference>
        <queriedFields>copado__Type__c</queriedFields>
        <queriedFields>copado__Metadata_API_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>This action takes the string of all committed User Story Metadata and prints it into the User_Story.Committed Components field.</description>
        <name>Update_User_Story_Committed_Components</name>
        <label>Update User Story Committed Components</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Committed_Components__c</field>
            <value>
                <elementReference>CommittedComponentsList</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_User_Story_Metadata_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Latest_Commit_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>This is the list of components that are currently committed the the User Story.</description>
        <name>CommittedComponentsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TriggeringUserStoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <description>Grabs field needed field values from the related User Story Metadata tecords.</description>
        <name>UserStoryMetadataCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story_Metadata__c</objectType>
    </variables>
</Flow>
